body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to bottom, #4b6cb7, #162a56);
}

.container {
    text-align: center;
    max-width: 70%;
    margin: auto;
    position: relative;
}

.heading {
    margin-bottom: 20px;
    position: relative;
}

h1 {
    color: white;
    font-family: 'Pacifico', cursive; /* Substituí a fonte para 'Pacifico' */
    font-size: 2.5em; /* Ajustei o tamanho da fonte */
    letter-spacing: 1px;
    padding: 10px;
    position: relative;
    z-index: 1;
    margin: 0;
    font-weight: 350;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.video-container {
    border: 20px solid #0d0825;
    max-width: 70%;
    height: 420px;
    display: block;
    margin: 10px auto -5px;
    position: relative;
    z-index: 2;
}

.video-poster {
    max-width: 100%;
    height: auto;
}

a {
    display: block;
    width: 160px;
    margin: 20px auto; /* Centraliza o botão horizontalmente e adiciona espaçamento superior */
    padding: 5px 10px;
    background-color: #0d0825; /* Mudei a cor de fundo para a mesma do heading */
    color: white;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 1.4em;
    border-radius: 20px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #324b85;
}

/* Adicionado media query para dispositivos móveis */
@media only screen and (max-width: 600px) {
    .video-container {
        max-width: 90%;
    }
}
