body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to bottom, #4b6cb7, #162a56);
}

.container {
    text-align: center;
    max-width: 70%;
    margin: auto;
    position: relative;
}

.heading {
    margin-bottom: 10px;
    position: relative;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0d0825;
    z-index: -1;
}

h1 {
    color: white;
    font-family: 'Raleway', serif;
    font-size: 1.8em;
    letter-spacing: 1px;
    padding: 10px;
    position: relative;
    z-index: 1;
    margin: 0;
}

.video-container {
    border: 20px solid #0d0825;
    max-width: 70%;
    height: auto;
    display: block;
    margin: 10px auto -5px;
    position: relative;
    z-index: 2;
}

.video-poster {
    max-width: 100%;
    height: auto;
}

a {
    display: block;
    width: 160px;
    margin: 12px auto;
    padding: 5px 10px;
    background-color: #4b6cb7;
    color: white;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 1.4em;
    border-radius: 20px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #324b85;
}

/* Adicionado media query para dispositivos móveis */
@media only screen and (max-width: 600px) {
    .video-container {
        max-width: 90%;
    }
}
