body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to bottom, #186394, #272142);
}

.container {
    position: relative;
    text-align: center;
}

h1 {
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 2.5em;
    letter-spacing: 2px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

video {
    max-width: 70%;
    max-height: 50%;
    display: block;
    margin: auto;
}